@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary: #F9F1E9;
    --font: #392A2A;
    --nav: #FFD5A5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary);
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--nav);
    border: 2px solid var(--font);
}


.invoice-container{
    border-bottom: var(--font);
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.header h1{
    font-size: 40px;
    font-family: Noto Serif;
    font-weight: 500;
    padding: 10px 0px;
}

.back{
    font-size: 30px;
    font-family: Archivo;
    font-weight: 500;
    text-decoration: none;
    color: #392A2A;
    padding: 20px 20px;
    transition: 0.5s;
    border-radius: 20px;
}
.back:hover{
    background-color: #392A2A;
    color: var(--nav);
    border-radius: 20px;
}

.details{
    margin: 13% 0 0 0;
    background-color: var(--nav);
    padding: 10px;
    font-family: Archivo;
    border: 2px solid var(--font);
    border-radius: 10px;
    max-width: 900px;
}

.details2{
    margin: 5% 0 2% 0;
    background-color: var(--nav);
    padding: 10px;
    font-family: Archivo;
    border: 2px solid var(--font);
    border-radius: 10px;
    max-width: 900px;
}

.row,
.row2{
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: space-evenly;
}
.row2{
    margin-bottom: 5%;
}

.transaction{
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}
.transactionDetails{
    padding: 0 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.transaction h1{
    font-size: 28px;
    font-weight: 500;
    color: var(--font);
}

.date{
    background-color: #392A2A;
    color: #F9F1E9;
    padding: 20px 20px;
    margin-top: -32px;
    margin-right: -32px;
    border-radius: 0px 10px;
    font-size: 18px;
    font-weight: 500;
}

.destination{
    padding: 20px;
}

.destination h2,
.transactionDetails h2{
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    color: var(--font);
}

.destination h3{
    color: var(--font);
    opacity: 70%;
    font-size: 18px;
    font-weight: 400;
}

.total{
    font-weight: 500;
}
